/*
 * Generated _block.scss
 * <%= conf.get('themeDir') %>
 * Jan Willem Henckel
 * 
 * this is a demo block.
 * you might wan't to keep it as a template.
 * this block is not imported in the main.scss.
 * 
 * this is a block definition file.
 * global varibale use is only allowed inside
 * the $this map definition.
 * do not forget to unset $this.
 */

$this: (
	// blockname
	block:					block,

    // block Variables
	height:				    100px,
    subheight:              35px,
);


.#{this(block)} {
    height: this(subheight);

    &__element {
        height: this(height);

        &--modifier {
            color: hotpink;
        }
    }
}

// unset this
$this: null;
