/*
 * Generated _layer.scss
 * Dunckelfeld /_development/
 * Jan Willem Henckel
 * 
 * prefix all varibales in here with 'layer-'
 * use this integers to structure your z-indexes
 * 
 * this is a varibale definition file.
 * please use descriptive var names.
 * do not define any actual styles in here.
 */

$layer-overlay:				10;
$layer-header:				4;
$layer-navigation: 			3;
$layer-interface-overlay:	2;
$layer-base: 				1;