/*
 * Generated _mixins.scss
 * <%= conf.get('themeDir') %>
 * Jan Willem Henckel
 * 
 * place all mixin definitions here
 */

@mixin center($axis: xy) {
    //position: absolute;
    $yPos: 0;
    $xPos: 0;

    @if $axis == x or $axis == xy {
        $xPos: -50%;
        left: 50%;
    }

    @if $axis == y or $axis == xy {
        top: 50%;
        $yPos: -50%;
    }

    @include transform(translate3d($xPos, $yPos,0));
}

@mixin grabcursor() {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}