/*
 * Generated _placeholders.scss
 * <%= conf.get('themeDir') %>
 * Jan Willem Henckel
 * 
 * place all placeholder definitions here.
 * for more complex groups of placeholders
 * refer to layout/modules/placeholder.
 */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}